body {
  color:#000000;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  margin:0;
  min-height:100%;
  width:100%;
}

.nav a{
	color: #a8a8a8;
	text-decoration: none;
	font-size: 24px;
	font-weight: 300;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

/*header*/
header nav {
  /*background-color: #ff69b4;*/
  width:100%;
  margin-top:17px;
  display: inline-block;
  list-style-type: none;
}
header nav ul {
  padding:0;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin-right:50px;
}

.background {
	height: 800px;
	background-image: url(https://raw.githubusercontent.com/kevinli7/kevinli7.github.io/master/images/face.jpg);
}