body {
  color:#000000;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  margin:0;
  min-height:100%;
  width:100%;
}

.nav a{
	color: #d3d3d3;
	font-size: 24px;
	font-weight: 300;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

header nav {
  width:100%;
  margin-top:17px;
  display: inline-block;
  list-style-type: none;
}
header nav ul {
  padding:0;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin-right:50px;
}

.background {
	height: 800px;
	background-image: url(https://scontent-2.2914.fna.fbcdn.net/hphotos-xpf1/t31.0-8/1932560_2619823861614_1242741769_o.jpg);
}