.my-info {
/*	display: table-cell;*/
/*  vertical-align: middle;*/
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 100px;
	font-family: Open Sans;
	font-size: 24px;
}

#my-name {
	font-weight: bold;
	font-size: 200%;
}

#cat {
	position: relative;
	height: 350px;
	width: 350px;
}

#email {
	font-size: 80%;
}

#rip {
	visibility: hidden;
}

html, body {
    height: 100%;
}

body {
	position: fixed;
	margin: 0px;
	width: 100%;
	margin-top: -100px;
	padding-top: 100px;
}

p {
	margin: 0px;
}