.my-info {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 100px;
	font-family: Open Sans;
	font-size: 24px;
}

#my-name {
	font-weight: bold;
	font-size: 200%;
}

#cat {
	position: relative;
	height: 350px;
	width: 350px;
}

#email {
	font-size: 80%;
}

#rip {
	padding: 20px 40px;
	font-weight: bold;
	font-size: 25px;
}

#letitrip {
	visibility: hidden;
	position: absolute;
	padding-top: 200px;
	text-align: center;
	color: red;
	background: rgba(0,0,0,0.8);
	font-size: 100px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

html, body {
    height: 100%;
}

body {
	position: fixed;
	margin: 0px;
	width: 100%;
	margin-top: -100px;
	padding-top: 100px;
}

p {
	margin: 0px;
}