.my-info {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: Open Sans;
	font-size: 24px;
}

#my-name {
	font-weight: bold;
	font-size: 200%;
}

#cat {
	height: 350px;
	width: 350px;
}

#email {
	font-size: 80%;
}

html, body {
    height: 100%;
}

body {
	display: table;
	width: 100%;
}

p {
	margin: 0px;
}